---
import PublicLayout from "@/layouts/PublicLayout.astro";
import { Button } from "@/components/ui/button";
import HeroSection from "@/components/sections/HeroSection.astro";
import SellingPointsSection from "@/components/sections/SellingPointsSection.astro";
import EducationalSection from "@/components/sections/EducationalSection.astro";
---

<PublicLayout title="Witaj w 10x-cards">
  <div class="w-full">
    <HeroSection />
    <SellingPointsSection />
    <EducationalSection />
  </div>
</PublicLayout>

<style>
  .text-gradient {
    background-image: linear-gradient(to right, #7928ca, #ff0080);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }
</style>
